@page "/Devices/Device01"
<h2>Device 1</h2>


    <MudContainer Class="flex-row d-flex pl-0 pt-3"> 
        <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="flex-column justify-space-around d-flex ml-0">
            <MudText>Name: @TextValue</MudText>
            <MudText>IP-Address: @TextValue</MudText>
            <MudText>Status: @TextValue</MudText>
            <MudText>Type: @TextValue</MudText>
            <MudText>...: @TextValue</MudText>
        </MudContainer>
        <MudContainer Style="width: 60%" Class="d-flex">
            <MudCardContent Class="d-flex justify-space-around align-center flex-column" >
                <MudChart ChartType="ChartType.Line" XAxisLabels="XAxisLabels" ChartSeries="Series" Height="250px" Width="500px"/>
                <MudChart ChartType="ChartType.Line" XAxisLabels="XAxisLabels" ChartSeries="Series" Height="250px" Width="500px"/>
            </MudCardContent>
        </MudContainer>
    </MudContainer>    


@code {
    private string TextValue { get; set; } = "This Property is like Vinis balondor it does not exist";
    private string[] XAxisLabels = new string[] { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };
    private List<ChartSeries> Series = new List<ChartSeries>
    {
        new ChartSeries { Name = "Series 1", Data = new double[] { 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120 } },
        new ChartSeries { Name = "Series 2", Data = new double[] { 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10 } }
    };
}