@page "/Plugin-Index"
@using Azure.Storage.Blobs
@using Azure.Storage.Blobs.Models
@using Server.UI.Layout

@inject BlobServiceClient BlobServiceClient

<PageTitle>Plugin Index</PageTitle>
<h3>PluginIndex</h3>

<p>@BlobServiceClient.Uri</p>
<p>@BlobServiceClient.AccountName</p>
<p>@BlobServiceClient.CanGenerateAccountSasUri</p>

<br>

<div>
    @foreach(var item in Items)
    {
        var downloadUrl = $"/api/plugins/download/{item.Name}";
        <div>
            <span>@item.Name</span>
            <a target="_blank" href="@downloadUrl">Download</a>
        </div>
    }
</div>

@code {
    [CascadingParameter] public required MainLayout MainLayout { get; set; }

    public List<BlobItem> Items { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        MainLayout.Title = "Plugin Index";

        var client = BlobServiceClient.GetBlobContainerClient("plugins");
        
        await foreach (var blobItem in client.GetBlobsAsync())
        {
            Items.Add(blobItem);
        }
    }
}