@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>You are not authorized to view this page. Please ask your local admin if you think this is an issue.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Page not found!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudThemeProvider IsDarkMode="@true"></MudThemeProvider>

